@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@800&display=swap");
/* Importing Font */

* {
  padding: 0;
  margin: 0;
}

body {
  background: black;
}

.main {
  background-image: url("assets/images/bg.jpg");
  height: calc(10vh + 64vh);
  position: relative;
  background-position: center center;
}

.main .box {
  position: absolute;
  top: 0;
  height: 74vh;
  width: 100%;
  opacity: 0.7;
  background-color: black;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 80vw;
  margin: auto;
  align-items: center;
  height: 10vh;
  z-index: 5;
  /* padding-top: 1vh; */
}

nav img {
  width: max(8vh, 8vw);
  cursor: pointer;
}

.ad {
  height: 64vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  position: relative;
  font-family: "Martel Sans", sans-serif;
  padding: 0 2vw;
}

/* .ad > :nth-child(1) { */
.ad > :first-child {
  font-weight: 900;
  font-size: 4.5vh;
  text-align: center;
}

.ad > :nth-child(2) {
  font-weight: 500;
  font-size: 2.5vh;
  text-align: center;
}

.ad > :nth-child(3) {
  font-weight: 400;
  font-size: 1.5vh;
  text-align: center;
}

.default {
  display: flex;
  align-items: center;
  gap: 1.2vw;
}

.btn-lang,
.btn-signIn {
  padding: 0.7vh 1vw;
  font-size: 1.5vh;
  font-weight: bold;
  border-radius: 0.2vw;
}

.btn-lang {
  background-color: rgba(248, 245, 245, 0.02);
  color: whitesmoke;
  border: 0.1vh solid rgba(245, 245, 245, 0.354);
  cursor: pointer;
}

.btn-signIn {
  background-color: red;
  color: whitesmoke;
  border: 0.1vh solid red;
  transition: background-color 0.2s ease-in-out;
}

.ad-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 0.5vw;
}

.btn-submit,
.main input {
  min-height: 2.5vh;
  border-radius: 0.2vw;
  color: whitesmoke;
}

.btn-submit {
  min-width: 15vw;
  background-color: red;
  font-size: 2.5vh;
  font-weight: bold;
  padding: max(0.9vh, 0.9vw) 1.5vw;
  border: 0.1vh solid red;
  transition: background-color 0.2s ease-in-out;
}

.btn-submit:hover,
.btn-signIn:hover {
  background-color: rgb(206, 5, 5);
  border: 0.1vh solid rgb(206, 5, 5);
  cursor: pointer;
}

.main input {
  /* flex: 1; */
  /* flex-grow: 2; */
  /* flex-shrink: 0; */
  /* width: 100%; */
  min-width: 20vw;
  font-size: 1.5vh;
  padding: max(1vh, 1vw) 1.5vw;
  background-color: rgba(0, 0, 0, 0.416);
  border: 0.1vh solid rgba(245, 245, 245, 0.435);
}

@media (max-width: 599px) {
  .ad-input {
    flex-direction: column;
    /* align-items: stretch; */
    gap: 1.2vh;
  }

  .main input {
    /* flex: 1; */
    /* min-width: 0; */
    width: 100%;
  }
}

.separation {
  height: 0.5vh;
  background-color: rgb(60, 60, 60);
}
